.intro {
    height: 740px;
    position: relative;
    @media (max-width: $notebook) {
        height: 650px;
    }
    @media (max-width: $tablet-wide) {
        height: 500px;
    }
    @media (max-width: $tablet) {
        height: auto;
        padding: 120px 0 70px;
    }
    &__bg {
        position: absolute;
        top: 0;
        right: 0;
        @media (max-width: $notebook) {
            width: 800px;
        }
        @media (max-width: $tablet-wide) {
            width: 600px;
        }
        @media (max-width: $tablet) {
            width: 400px;
        }
        @media (max-width: $phablet) {
            width: 300px;
        }
    }
    &__container {
        @media (max-width: $tablet) {
            max-width: 500px;
        }
    }
    &__inner {
        height: 100%;
        display: flex;
        align-items: center;
        position: relative;
        @media (max-width: $tablet) {
            flex-direction: column;
        }
    }
    &__content {
        width: 50%;
        margin: 25px 0 0 0;
        @media (max-width: $notebook) {
            padding-left: 0;
        }
        @media (max-width: $tablet) {
            width: 100%;
            margin: 0 0 50px 0;
            text-align: center;
        }
    }
    &__title {
        font-size: 44px;
        font-family: $extrabold;
        margin-bottom: 20px;
        span {
            color: $atomic-tangerine;
        }
        @media (max-width: $notebook) {
            font-size: 38px;
        }
        @media (max-width: $tablet-wide) {
            font-size: 32px;
            margin-bottom: 10px;
        }
    }
    &__text {
        max-width: 535px;
        width: 100%;
        font-size: 20px;
        margin-bottom: 40px;
        @media (max-width: $tablet-wide) {
            font-size: 18px;
            margin-bottom: 30px;
        }
    }
    &__btn {
        padding: 15px 43px;
        @media (max-width: $tablet-wide) {
            padding: 12px 30px;
        }
    }
    &__img {
        flex: 1;
        margin: -28px -80px 0 0;
        img {
            margin-left: auto;
        }
        @media (max-width: $notebook) {
            margin: 0;
        }
    }
}
