.nav {
    &__list {
        display: flex;
        align-items: center;
        @media (max-width: $tablet-wide) {
            flex-direction: column;
            margin-bottom: 10px;
        }
    }
    &__item {
        margin-right: 40px;
        &:last-child {
            margin-right: 0;
        }
        @media (max-width: $notebook) {
            margin-right: 20px;
        }
        @media (max-width: $tablet-wide) {
            margin: 20px 0;
        }
    }

    &__link {
        line-height: 1;
        color: $boulder;
        white-space: nowrap;
        position: relative;
        transition: all 0.3s ease 0s;
        &::after {
            position: absolute;
            content: "";
            width: 0;
            height: 1px;
            background-color: $blue-marguerite;
            top: 100%;
            left: 50%;
            transform: translate(-50%);
            transition: width 0.3s linear;
        }
        &:hover {
            color: $blue-marguerite;
            &::after {
                width: 100%;
            }
        }
        &.nav__link--active {
            color: $blue-marguerite;
            &::after {
                width: 100%;
            }
        }
        @media (max-width: $tablet-wide) {
            font-size: 24px;
            color: $white;
        }
    }
}