.road-map {
    background: linear-gradient(90deg, #5660CD -9.71%, #A182D8 100%);
    transform: skewY(3deg);
    margin: 80px 0 65px;
    padding: 67px 0 90px;
    @media (max-width: $tablet-wide) {
        padding-bottom: 30px;
        margin-bottom: 30px;
    }
    @media (max-width: $phablet) {
        padding-bottom: 0;
        margin-bottom: 0;
    }
    &__container {
        transform: skewY(-3deg);
        @media (max-width: $phablet) {
            max-width: 400px;
        }
    }
    &__inner {
        color: $white;
        display: grid;
        grid-template-columns: 1.4fr 1.4fr 1.5fr 1.2fr;
        grid-template-areas:
            "item1 item2 item3 item4"
            "item8 item7 item6 item5"
            "item9 item10 item11 item12"
            "item16 item15 item14 item13";
        @media (max-width: $tablet-wide) {
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-areas:
                "item1 item2 item3"
                "item6 item5 item4"
                "item7 item8 item9"
                "item12 item11 item10"
                "item13 item14 item15"
                "item16 item16 item16";
        }
        @media (max-width: $tablet) {
            grid-template-columns: 1fr 1fr;
            grid-template-areas:
                "item1 item2"
                "item4 item3"
                "item5 item6"
                "item8 item7"
                "item9 item10"
                "item12 item11"
                "item13 item14"
                "item16 item15";
        }
        @media (max-width: $phablet) {
            grid-template-columns: 1fr;
            grid-template-areas:
                "item1"
                "item2"
                "item3"
                "item4"
                "item5"
                "item6"
                "item7"
                "item8"
                "item9"
                "item10"
                "item11"
                "item12"
                "item13"
                "item14"
                "item15"
                "item16";
        }
    }
    &__item {
        height: 247px;
        position: relative;
        padding-right: 50px;
        &:nth-child(1) {
            grid-area: item1;
        }
        &:nth-child(2) {
            grid-area: item2;
        }
        &:nth-child(3) {
            grid-area: item3;
        }
        &:nth-child(4) {
            grid-area: item4;
        }
        &:nth-child(5) {
            grid-area: item5;
        }
        &:nth-child(6) {
            grid-area: item6;
        }
        &:nth-child(7) {
            grid-area: item7;
        }
        &:nth-child(8) {
            grid-area: item8;
        }
        &:nth-child(9) {
            grid-area: item9;
        }
        &:nth-child(10) {
            grid-area: item10;
        }
        &:nth-child(11) {
            grid-area: item11;
        }
        &:nth-child(12) {
            grid-area: item12;
        }
        &:nth-child(13) {
            grid-area: item13;
        }
        &:nth-child(14) {
            grid-area: item14;
        }
        &:nth-child(15) {
            grid-area: item15;
        }
        &:nth-child(16) {
            grid-area: item16;
        }
        &::before {
            content: "";
            width: 100%;
            height: 4px;
            background-color: $white;
            position: absolute;
            top: 48px;
            left: 0;
        }
        &::after {
            content: "";
            height: 126px;
            width: 100%;
            position: absolute;
            top: 48px;
            left: 0;
        }
        &:nth-child(-n + 3) {
            &::before {
                background-color: $atomic-tangerine;
            }
        }
        &:nth-child(1),
        &:nth-child(16) {
            padding-left: 37px;
        }
        &:nth-child(4),
        &:nth-child(12) {
            &::before {
                content: none;
            }
            &::after {
                border-top: 4px solid $white;
                border-right: 4px solid $white;
                border-radius: 0 50px 0 0;
            }
        }
        &:nth-child(5),
        &:nth-child(13) {
            &::before {
                content: none;
            }
            &::after {
                border-bottom: 4px solid #fff;
                border-right: 4px solid #fff;
                border-radius: 0 0px 50px 0;
                top: -74px;
            }
        }

        &:nth-child(8) {
            padding-left: 37px;
            &::before {
                content: none;
            }
            &::after {
                border-top: 4px solid #fff;
                border-left: 4px solid #fff;
                border-radius: 50px 0 0 0;
            }
        }
        &:nth-child(9) {
            padding-left: 37px;
            &::before {
                content: none;
            }
            &::after {
                border-bottom: 4px solid #fff;
                border-left: 4px solid #fff;
                border-radius: 0 0 0 50px;
                top: -74px;
            }
        }
        @media (max-width: $notebook) {
            padding-right: 30px;
        }
        @media (max-width: $tablet-wide) {
            &:nth-child(3) {
                &::before {
                    content: none;
                }
                &::after {
                    border-top: 4px solid $atomic-tangerine;
                    border-right: 4px solid $atomic-tangerine;
                    border-radius: 0 50px 0 0;
                }
            }
            &:nth-child(4) {
                &::after {
                    border-bottom: 4px solid $atomic-tangerine;
                    border-right: 4px solid $atomic-tangerine;
                    border-radius: 0 0px 50px 0;
                    top: -74px;
                    border-top: none;
                }
            }
            &:nth-child(5) {
                &::before {
                    content: "";
                }
                &::after {
                    content: none;
                }
            }
            &:nth-child(6),
            &:nth-child(12) {
                padding-left: 37px;
                &::before {
                    content: none;
                }
                &::after {
                    border-top: 4px solid #fff;
                    border-left: 4px solid #fff;
                    border-radius: 50px 0 0 0;
                    border-right: none;
                }
            }
            &:nth-child(7),
            &:nth-child(13) {
                padding-left: 37px;
                &::before {
                    content: none;
                }
                &::after {
                    border-bottom: 4px solid #fff;
                    border-left: 4px solid #fff;
                    border-radius: 0 0 0 50px;
                    top: -74px;
                    border-right: none;
                }
            }
            &:nth-child(8) {
                padding-left: 0;
                &::before {
                    content: "";
                }
                &::after {
                    content: none;
                }
            }
            &:nth-child(9),
            &:nth-child(15) {
                padding-left: 0;
                &::before {
                    content: none;
                }
                &::after {
                    border-top: 4px solid #fff;
                    border-right: 4px solid #fff;
                    border-radius: 0 50px 0 0;
                    top: 48px;
                    border-left: none;
                    border-bottom: none;
                }
            }
            &:nth-child(10),
            &:nth-child(16) {
                &::before {
                    content: none;
                }
                &::after {
                    border-bottom: 4px solid #fff;
                    border-right: 4px solid #fff;
                    border-radius: 0 0px 50px 0;
                    top: -74px;
                    border-top: none;
                }
            }
        }
        @media (max-width: $tablet) {
            &:nth-child(2) {
                &::before {
                    content: none;
                }
                &::after {
                    border-top: 4px solid $atomic-tangerine;
                    border-right: 4px solid $atomic-tangerine;
                    border-radius: 0 50px 0 0;
                }
            }
            &:nth-child(3) {
                &::after {
                    border-bottom: 4px solid $atomic-tangerine;
                    border-right: 4px solid $atomic-tangerine;
                    border-radius: 0 0 50px 0;
                    top: -74px;
                    border-top: none;
                }
            }
            &:nth-child(4) {
                padding-left: 37px;
                &::after {
                    border-top: 4px solid $atomic-tangerine;
                    border-left: 4px solid $atomic-tangerine;
                    border-radius: 50px 0 0 0;
                    top: 48px;
                    border-bottom: none;
                    border-right: none;
                }
            }
            &:nth-child(5),
            &:nth-child(9) {
                padding-left: 37px;
                &::before {
                    content: none;
                }
                &::after {
                    content: "";
                    border-bottom: 4px solid #fff;
                    border-left: 4px solid #fff;
                    border-radius: 0 0 0 50px;
                    top: -74px;
                    border-top: none;
                    border-right: none;
                }
            }
            &:nth-child(6),
            &:nth-child(10),
            &:nth-child(14) {
                padding-left: 0;
                &::before {
                    content: none;
                }
                &::after {
                    border-top: 4px solid #fff;
                    border-right: 4px solid #fff;
                    border-radius: 0 50px 0 0;
                    border-left: none;
                    top: 48px;
                    border-bottom: none;
                }
            }
            &:nth-child(7),
            &:nth-child(11),
            &:nth-child(15) {
                padding-left: 0;
                &::before {
                    content: none;
                }
                &::after {
                    border-bottom: 4px solid #fff;
                    border-right: 4px solid #fff;
                    border-radius: 0 0 50px 0;
                    top: -74px;
                    border-top: none;
                    border-left: none;
                }
            }
            &:nth-child(8) {
                padding-left: 37px;
                &::before {
                    content: none;
                }
                &::after {
                    content: "";
                    border-top: 4px solid #fff;
                    border-radius: 50px 0px 0 0;
                    top: 48px;
                }
            }
            &:nth-child(16) {
                &::before {
                    content: "";
                }
                &::after {
                    content: none;
                }
            }
        }
        @media (max-width: $phablet) {
            &::before {
                height: 126px;
                width: auto;
                background-color: transparent;
                border-top: 4px solid $atomic-tangerine;
                border-left: 4px solid $atomic-tangerine;
                border-radius: 50px 0 0 0;
                left: 0;
                right: 50px;
            }
            &:nth-child(1) {
                &::before {
                    content: none;
                }
                &::after {
                    border-top: 4px solid $atomic-tangerine;
                    border-right: 4px solid $atomic-tangerine;
                    border-radius: 0 50px 0 0;
                }
            }
            &:nth-child(2),
            &:nth-child(4) {
                padding-left: 37px;
                &::before {
                    content: "";
                    background-color: transparent;
                }
                &::after {
                    border-bottom: 4px solid $atomic-tangerine;
                    border-right: 4px solid $atomic-tangerine;
                    border-radius: 0 0 50px 0;
                    top: -74px;
                    border-top: none;
                    border-left: none;
                    width: auto;
                    left: 37px;
                    right: 0;
                }
            }
            &:nth-child(3) {
                padding-left: 37px;
                &::before {
                    content: "";
                    background-color: transparent;
                    border-bottom: 4px solid $atomic-tangerine;
                    border-left: 4px solid $atomic-tangerine;
                    border-radius: 0 0 0 50px;
                    top: -74px;
                    border-top: none;
                }
                &::after {
                    border-top: 4px solid $atomic-tangerine;
                    border-right: 4px solid $atomic-tangerine;
                    border-radius: 0 50px 0 0;
                    top: 48px;
                    border-bottom: none;
                    width: auto;
                    left: 37px;
                    right: 0;
                }
            }
            &:nth-child(5),
            &:nth-child(9),
            &:nth-child(11),
            &:nth-child(13),
            &:nth-child(15) {
                padding-left: 37px;
                &::before {
                    content: "";
                    border-top: 4px solid #fff;
                    border-right: 4px solid #fff;
                    border-radius: 0 50px 0 0;
                    left: 50px;
                    right: 0;
                    border-left: none;
                }
                &::after {
                    width: auto;
                    left: 0;
                    right: 50px;
                    border-left: 4px solid #fff;
                    border-radius: 0 0 0 50px;
                    border-right: none;
                }
            }
            &:nth-child(6),
            &:nth-child(8),
            &:nth-child(10),
            &:nth-child(12),
            &:nth-child(14)  {
                padding-left: 37px;
                &::before {
                    content: "";
                    border-bottom: 4px solid #fff;
                    border-right: 4px solid #fff;
                    border-radius: 0 0 50px 0;
                    top: -74px;
                    border-top: none;
                    border-left: none;
                    left: 50px;
                    right: 0;
                }
                &::after {
                    border-top: 4px solid #fff;
                    border-left: 4px solid #fff;
                    border-radius: 50px 0 0 0;
                    border-right: none;
                    width: auto;
                    left: 0;
                    right: 50px;
                }
            }
            &:nth-child(7) {
                padding-left: 37px;
                &::before {
                    content: "";
                    border-bottom: 4px solid #fff;
                    border-left: 4px solid #fff;
                    border-radius: 0 0 0 50px;
                    top: -74px;
                    border-top: none;
                    left: 0;
                    right: 50px;
                }
                &::after {
                    border-top: 4px solid #fff;
                    border-radius: 0 50px 0 0;
                    top: 48px;
                    border-bottom: none;
                    width: auto;
                    left: 37px;
                    right: 0;
                }
            }
            &:nth-child(16) {
                &::before {
                    content: none;
                }
                &::after {
                    content: "";
                }
            }
        }
    }
    &__date {
        font-size: 18px;
        margin-bottom: 15px;
    }
    &__check {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: $white;
        border: 1px solid $tan-hide;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 25px;
        position: relative;
        z-index: 1;
        &.road-map__check--background {
            background-color: $wax-flower;
        }
    }
    &__text {
        font-family: $light;
    }
}
