@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Rubik:wght@400;500;700&display=swap');

:root {
    --dark: #0D0D2B;
    --white: #ffffff;
    --white-rgb: 255, 255, 255;
    --blue: #3671E9;
    --purple: #2B076E;
}

body {
    background-color: var(--dark);
    color: var(--white);
    font-family: 'Rubik', sans-serif;
}

.header {
    max-width: 1202px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
}

.nav {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.nav-item {
    margin-left: 32px;
}

.nav-item--login {
    margin-left: 56px;
    font-weight: 500;
    border-right: 1px solid rgba(242, 242, 242, 0.3);
    padding-right: 24px;

}

.nav-item--register {
    margin-left: 24px;

}

.nav-link {
    color: var(--white);
    text-decoration: none;
    transition: .2s ease color;
}

.nav-link:hover {
    color: var(--blue);
}

.nav-link--register {
    font-weight: 500;
    background-color: var(--blue);
    padding: 14px 32px;
    border-radius: 32px;
    transition: .2s ease background-color;
}

.nav-link--register:hover {
    color: var(--white);
    background-color: var(--purple);
}

.wrapper {
    max-width: 1202px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
}

.main {
    display: flex;
    align-items: center;
    margin-top: 61px;
}

.main-text {
    flex: 0 0 600px;
}

.main-text__sale {
    background-color: rgba(var(--white-rgb), 0.1);
    display: inline-block;
    padding: 10px 12px 10px 4px;
    border-radius: 32px;
    margin: 0px;
}

.main-text__sale span {
    background-color: var(--white);
    color: var(--dark);
    border-radius: 32px;
    font-weight: 500;
    padding: 6px 19px;
    margin-right: 13px;
}

.main-text__title {
    font-size: 64px;
    font-weight: 700;
    margin-top: 26px;
    line-height: 1.2;
    margin-bottom: 24px;
}

.main-text__description {
    color: rgba(224, 224, 224, 1);
    line-height: 1.6;
    max-width: 400px;
    margin-bottom: 57px;
}

.main-text__link {
    color: var(--white);
    font-weight: 500;
    background-color: var(--blue);
    padding: 20px 30px;
    border-radius: 32px;
    transition: .2s ease background-color;
    text-decoration: none;
}

.main-text__link:hover {
    color: var(--white);
    background-color: var(--purple);
}

.main-img {
    flex-grow: 1;
}

.main-img__image {
    width: 100%;
}

.stat {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 200px;
    padding-bottom: 196px;
}

.stat-item {
    display: flex;
    align-items: center;
}

.stat-item__icon {
    background-color: rgba(var(--white-rgb), 0.1);
    flex: 0 0 80px;
    height: 80px;
    width: 80px;
    border-radius: 100%;
    margin-right: 24px;
    background-repeat: no-repeat;
    background-position: center;
}

.stat-item__icon01 {
    background-image: url(../images/icon01.svg);
}

.stat-item__icon02 {
    background-image: url(../images/icon02.svg);
}

.stat-item__icon03 {
    background-image: url(../images/icon03.svg);
}

.stat-item__text {
    color: rgba(224, 224, 224, 1);
    margin: 0;
}

.stat-item__text span {
    display: block;
    font-size: 40px;
    font-weight: 700;
    color: var(--white);
    margin-bottom: 15px;
}

.text {
    text-align: center;
    padding-bottom: 60px;
}

.text__title {
    font-size: 40px;
    font-weight: 700;
}

.text__description {
    font-size: 18px;
    color: #E0E0E0;
    line-height: 1.5;
    max-width: 630px;
    margin: 0 auto;
}

.calc-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FBFCFE;
    border-radius: 16px 16px 0 0;
    max-width: 942px;
    margin: 0 auto;
    padding: 48px 46px;
    box-sizing: border-box;
}

.calc-head__input {
    font-size: 20px;
    color: var(--dark);
    border: none;
    border-bottom: 1px solid #E0E0E0;
    flex-grow: 1;
    padding: 12px 0;
}

.calc-head__input::placeholder{
    color: var(--dark);
}

.calc-head__select {
    font-size: 20px;
    color: var(--dark);
    border: none;
    border-bottom: 1px solid #E0E0E0;
    flex: 0 0 200px;
    margin-right: 48px;
    margin-left: 48px;
    appearance: none;
    background-image: url(../images/arrow-select.svg);
    background-repeat: no-repeat;
    background-position: 98% 18px;
    padding: 12px 0;
}

.calc-head__select:focus{
    outline: none;
}

.calc-head__button {
    font-size: 18px;
    color: var(--white);
    font-weight: 500;
    background-color: var(--blue);
    padding: 19px 0;
    border-radius: 32px;
    transition: .2s ease background-color;
    text-decoration: none;
    border: none;
    flex: 0 0 145px;
}

.calc-head__button:hover {
    background-color: var(--purple);
}

.page-light {
    background-color: #F8F9FB;
    padding-bottom: 100px;
}

.calc-foot {
    max-width: 942px;
    margin: 0 auto;
    padding: 53px 46px;
    background-color:var(--white);
    border-radius: 0 0 16px 16px;
    box-sizing:border-box;
    margin-bottom: 105px;
}

.calc-foot__title {
    color: var(--blue);
    font-weight: 500;
    margin: 0;
}

.calc-foot__total {
    color: black;
    font-size: 32px;
    font-weight: 700;
    margin-top: 25px;
    margin-bottom: 14px;
}

.calc-foot__total span {
    color: var(--blue);
}

.calc-foot__description {
    color: #828282;
    margin: 0;
}

/*1:20:50*/